In [149]:
import pylab as pl
import pandas as pd
import numpy as np
%pylab inline

import os

Populating the interactive namespace from numpy and matplotlib

# Idea :Young people went for more subscription as compared to older people during the month of April 2015
# Null Hypothesis : H0 = Age and subscription are independent 
# Alternate hypothesis : H1 = Age and subscription are dependent on each other.

#  We have taken two observation , one is having age greater than 30(the older) and second is younger than 30 (the young)

In [150]:
df=pd.read_csv('/Users/bhagwatsinghbisht/Downloads/201504_data.csv', index_col=0)

In [151]:
df.head(5)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
tripduration,,,,,,,,,,,,,,
241,4/1/2015 00:00:23,4/1/2015 00:04:25,494,W 26 St & 8 Ave,40.747348,-73.997236,489,10 Ave & W 28 St,40.750664,-74.001768,15510,Subscriber,1992,2
578,4/1/2015 00:00:52,4/1/2015 00:10:31,82,St James Pl & Pearl St,40.711174,-74.000165,2008,Little West St & 1 Pl,40.705693,-74.016777,15014,Subscriber,1982,1
484,4/1/2015 00:01:28,4/1/2015 00:09:33,223,W 13 St & 7 Ave,40.737815,-73.999947,445,E 10 St & Avenue A,40.727408,-73.981420,20881,Subscriber,1986,2
1144,4/1/2015 00:01:31,4/1/2015 00:20:36,393,E 5 St & Avenue C,40.722992,-73.979955,393,E 5 St & Avenue C,40.722992,-73.979955,20295,Subscriber,1977,2
1023,4/1/2015 00:01:36,4/1/2015 00:18:40,212,W 16 St & The High Line,40.743349,-74.006818,438,St Marks Pl & 1 Ave,40.727791,-73.985649,19871,Subscriber,1979,1

In [152]:
m= df[df.gender==1]                       #getting all the males
n= df[df.gender==2]                       #getting all the females
MaleS= m[m.usertype=='Subscriber']        ##getitng all the male subscriber
FemaleS= n[n.usertype=='Subscriber']      ## getting allthe female subscriber

In [153]:
## here We are segregating the observations into samples , men and female younger than 30 and older than 30
Fem = FemaleS['birth year']
Fem30 = Fem[Fem >= 1985].count()
Fem30plus = Fem[Fem < 1985].count()
Mal = MaleS['birth year']
Mal30 = Mal[Mal >= 1985].count()
Mal30plus = Mal[Mal < 1985].count()

In [154]:
print 'The count of Male under 30 subscription is ', Mal30
print 'The count of Male over 30 subscription is ', Mal30plus
print 'The count of Female under 30 subscription is ', Fem30
print 'The count of Female over 30 subscription is ', Fem30plus

The count of Male under 30 subscription is  123122
The count of Male over 30 subscription is  334460
The count of Female under 30 subscription is  42529
The count of Female over 30 subscription is  85903

In [155]:
## calculating the marginal values 
R11= Mal30 + Mal30plus   
R12 = Fem30 + Fem30plus
C11 = Mal30 + Fem30
C12 = Mal30plus + Fem30plus
Total = C11+C12
print Total

586014

In [156]:
##calculating Estimated value 
E11 = (R11*C11)/Total
E12 = (R11* C12)/Total
E21 = (R12*C11)/Total
E22 = (R12*C12)/Total
print E11,E12,E21,E22

129346 328235 36304 92127

Applying chi square test to the observation :

In [157]:
##inserted the marginal values and estimated values into arr1 and arr2 list respectively

In [158]:
##calculating the chi square value .
arr3=[]
i=0
for i in range(len(arr1)):
    arr3.append((arr1[i]-arr2[i])**2/arr2[i])
    i=i+1
print 'The chi square values are as follow ', arr3

The chi square values are as follow  [299, 118, 1067, 420]

Degree of freedom  = 1

In [159]:
##Adding the chi square values 
tot= 0 
for i in arr3:
    tot += i
print tot

1904

## observation : The value in the chisquare table for the alpha =0.05 and and degree of freedom =1 is 3.84 but the value we got was 1904 which is way higher . Hence we reject the null hypothesis H0.